<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Password Reset</ion-title>
    <ion-buttons>
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo"></ion-img>
        <h4 class="ion-margin-top ion-padding-bottom">MJ: Put your company icon and name</h4>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list-header style="color:#ab916b;margin-bottom:1rem;">Reset Password</ion-list-header>
      <form>
        <ion-icon size="small" name="mail-outline"></ion-icon>
        <ion-label position="stacked" style="padding-bottom: 2px;font-size:large;"> Email</ion-label>
        <ion-input name="email" placeholder="example@example.com" style="padding-left:3rem" type="email"></ion-input>
        
        <ion-button style="margin:1rem"  expand="block" color="primary">Reset Password</ion-button>
        
        <p class="ion-text-center ion-padding-top">
          <ion-button routerLink="/log-in" routerDirection="back" fill="outline">
            <ion-icon name="chevron-back"></ion-icon>  
            <ion-note>Back to Log In</ion-note>
          </ion-button>
        </p>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
