<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Password Reset</ion-title>
    <ion-buttons>
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo"></ion-img>
        <h4 class="ion-margin-top ion-padding-bottom">MJ: Put your company icon and name</h4>
    </ion-card-header>
    <ion-card-content>
      <ion-list-header style="color:#ab916b;margin-bottom:1rem;">Reset Password</ion-list-header>
      
   <form [formGroup]="emailForm" (ngSubmit)="check()">
      <ion-icon size="small" name="mail-outline"></ion-icon>
        <ion-label position="stacked" style="padding-bottom: 2px;font-size:large;"> Email</ion-label>
        <ion-input label="" formControlName="email"  placeholder="example@example.com" style="padding-left:3rem" ></ion-input>
         <!-- errors of email -->
         <ion-note color="danger" class="error-message"
         *ngIf="emailForm.get('email').invalid && emailForm.get('email').touched">
         <ion-icon name="alert-outline" color="danger"></ion-icon>
         <span *ngIf="emailForm.get('email').hasError('required')">Email is required.</span>
         <span *ngIf="emailForm.get('email').hasError('email')||emailForm.get('email').hasError('pattern')">Please enter a valid email..</span>
       </ion-note>

        <ion-button (click)="request('reset')" type="submit"  style="margin:1rem"  expand="block" color="primary">Reset Password</ion-button>
        <ion-button (click)="request('login')" type="submit"  style="margin:1rem"  expand="block" color="primary">Sign in by link instead</ion-button>

      </form>
        <p class="ion-text-center ion-padding-top">
          <ion-button routerLink="/log-in" routerDirection="back" fill="outline">
            <ion-icon name="chevron-back"></ion-icon>  
            <ion-note>Back to Log In</ion-note>
          </ion-button>
        </p>
    </ion-card-content>
  </ion-card>
</ion-content>


