<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>hallsddd</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">hallsss</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-button routerLink="/filter" fill="clear">
        <ion-icon name="filter"></ion-icon>
        FILTER
    </ion-button>
    <img src="/assets/halls.svg ">
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle color="primary ">AL-DANA HALL</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
            <ion-item>
                <ion-label>SQM(M^2):</ion-label>
                <ion-label>200X400</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Capacity:</ion-label>
                <ion-label>200 - 400</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>No. of both:</ion-label>
                <ion-label>20 - 40</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Pricing:</ion-label>
                <ion-label>58 per day</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-item>
        <ion-button fill="clear " slot="start">Gallery</ion-button>
        <ion-button slot="end">Pick a date</ion-button>
    </ion-item>

</ion-content>