<ion-header>
  <ion-toolbar>
    <ion-title> Request Details </ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/IMG_2275.jpg"></ion-img>
    <ion-card-content>
      <h2 class="event-card-content-element">
        <b>Event date:</b>

        23 Nov - 26 Nov 2023
      </h2>
      <h2 class="event-card-content-element">
        <b>Event name:</b>

        Jewellary Arabia
      </h2>
      <h2 class="event-card-content-element"><b>Event Category:</b></h2>
      <h2 class="event-card-content-element">
        <b>Event Discription:</b>

        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa quam
        quas, provident inventore iste eligendi, possimus at quo non autem quae.
        Commodi sapiente mollitia nostrum, dolorem pariatur libero maxime quod.
      </h2>
      <h2 class="event-card-content-element">
        <b>Event Loctaion:</b> Hall 6,7
      </h2>
      <h2 class="event-card-content-element">
        <b>Event Time:</b>

        6pm - 11pm
      </h2>
    </ion-card-content>
    <ion-row class="ion-justify-content-center ion-margin">
      <ion-button size="small">Approve</ion-button>
      <ion-button size="small">Reject</ion-button>
    </ion-row>
  </ion-card>
</ion-content>
