<ion-header>
  <ion-toolbar>
    <ion-title> Home </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="authSrv.signOut()">
        Log out
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <ion-content class="ion-padding"> </ion-content> -->
<ion-content class="ion-padding">
  <ion-row class="ion-justify-content-center ion-margin">
    <ion-card>
      <gallery-slider></gallery-slider>
    </ion-card>
  </ion-row>

  <ion-list>
    <ion-list-header>
      <h1>What's On</h1>
      <ion-button><label>Show All</label></ion-button>
    </ion-list-header>
  </ion-list>

  <ion-row class="ion-text-center ion-justify-content-center ion-margin">
    <h1>What's on</h1>
    <ion-card>
      <img src="assets/IMG_2275.jpg" />
      <ion-card-content class="">
        <ion-card-subtitle class="ion-text-left"
          >Jewellery Arabia</ion-card-subtitle
        >
        <div style="display: flex" class="ion-text-left">
          <ion-icon name="calendar-clear-sharp" color="primary"></ion-icon>
          <h2 style="margin: auto 10px">11-14 November 2023</h2>
        </div>
        <div style="display: flex" class="ion-text-left">
          <ion-icon name="location-sharp" color="primary"></ion-icon>
          <h2 style="margin: auto 10px">Hall 6&7</h2>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-button size="small">View more</ion-button>
  </ion-row>

  <ion-row class="ion-text-center ion-justify-content-center ion-margin">
    <h1>About us</h1>
    <p>
      Exhibition World Bahrain is a stunning piece of architecture that embraces
      the rich Arabic art and culture within its design. An innovative, flexible
      and adaptable space that is able to cater to every type of event from
      large conventions and exhibitions to meetings, entertainment, concerts,
      gala, events and celebrations. <br />
      Exhibition World Bahrain is proudly managed by ASM Global, the world’s
      leading venue and event strategy management company, connecting people
      through the power of live experience.
    </p>
  </ion-row>
</ion-content>
