<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="chatbubble-sharp"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservations">
      <ion-icon name="calendar-number-sharp"></ion-icon>
      <ion-label>Reservations</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
