<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Chat </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #messagesContainer id="messages-conatiner">
    <div *ngFor="let message of chatService.messages"
        [ngClass]="[ 'message', isSent(message) ? 'sent' : 'recieved' ]"
        >
      {{ message.text }}
      <div class="message-timestamp">
        {{ formatTimestamp(message.createdAt) }}
      </div>
    </div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scroll()" color="light" size="small">
      <ion-icon name="chevron-down" size="small"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer id="input-container">
    <ion-input placeholder="Type a message..." [(ngModel)]="text"></ion-input>
    <ion-button color="medium" (click)="sendMessage()">
      <ion-icon name="send"></ion-icon>
    </ion-button>
</ion-footer>
