#messages-conatiner {
  padding: 1rem;

  display: flex;
  flex-direction: column;

  align-items: flex-start;

}

.message {
  $message-border-radius: 0.65rem;

  min-width: 30%;
  max-width: 55%;
  color: black;
  padding: 0.3rem 0.6rem;

  margin-bottom: 0.4rem;

  &.sent {
    background-color: yellowgreen;
    border-radius: $message-border-radius $message-border-radius $message-border-radius 0rem;
  }

  &.recieved {
    margin-left: auto;

    background-color: lightblue;
    border-radius: $message-border-radius $message-border-radius 0rem $message-border-radius;
  }
}

#input-container {
  height: 50px;

  background-color: var(--ion-tab-bar-background);

  padding-left: 0.7rem;

  display: flex;
  flex-direction: row;


  ion-button {
    margin: 0;
    --border-radius: 0;
  }
}

// TODO: only display button when the messages can't fit in the display
ion-fab {
  margin: 0 1.2rem 1rem 0;
}

.message-timestamp {
  color: darkslateblue;
  text-align: right;
  font-size: 0.7rem;
  padding-top: 0.2rem;
  user-select: none;
}
