<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header><ion-label> Reset Password </ion-label></ion-list-header>

    <form [formGroup]="emailForm" (ngSubmit)="check()">
      <ion-item>
        <ion-label position="stacked">
          <ion-card-subtitle>Email</ion-card-subtitle>
        </ion-label>

        <ion-input
          label=""
          formControlName="email"
          placeholder="example@example.com"
          style="padding-left: 3rem"
        ></ion-input>
      </ion-item>

      <!-- errors of email -->
      <ion-note
        color="danger"
        class="error-message"
        *ngIf="emailForm.controls['email'].invalid && emailForm.controls['email'].touched"
      >
        <ion-icon name="alert-outline" color="danger"></ion-icon>
        <span *ngIf="emailForm.controls['email'].hasError('required')"
          >Email is required.</span
        >
        <span
          *ngIf="emailForm.controls['email'].hasError('email')||emailForm.controls['email'].hasError('pattern')"
          >Please enter a valid email..</span
        >
      </ion-note>

      <ion-button (click)="request('reset')" type="submit" expand="block"
        >Reset Password</ion-button
      >
    </form>
  </ion-list>
</ion-content>
