<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Hall Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img src="/assets/hall.PNG" alt="" />
    <ion-card-content>
      <ion-card-subtitle color="primary ">
        Hall {{hallInfo.id}} {{hallInfo.name}}</ion-card-subtitle
      >
      {{hallInfo.description}}
      <ion-item>
        <ion-label>SQM(M^2):do we need it? </ion-label>
        <ion-label>{{ hallInfo.capacity }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Capacity:</ion-label>
        <ion-label>{{hallInfo.capacity}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>No. of booths:</ion-label>
        <ion-label>{{hallInfo.booths}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pricing:</ion-label>
        <ion-label>{{hallInfo.price}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Open to reserve ?</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button class="ion-margin" expand="block" type="submit">
    Update</ion-button
  >
  <!-- form -->
</ion-content>
