<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Create Reservation </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form
    [formGroup]="reservationsForm"
    (ngSubmit)="AddReservation(reservationsForm)"
  >
    <ion-item>
      <ion-input label="Name" placeholder="Enter name" formControlName="name">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        placeholder="Enter the description"
        label="Description"
        formControlName="description"
      >
      </ion-input>
    </ion-item>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          displayFormat="YYYY-MM-DD"
          id="datetime-start"
          presentation="date"
          (ionChange)="this.reservation.start_date_changed($event)"
        ></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          displayFormat="YYYY-MM-DD"
          id="datetime-end"
          presentation="date"
          (ionChange)="this.reservation.end_date_changed($event)"
        ></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-item>
      <ion-label> Start Date </ion-label>
      <ion-datetime-button
        date-target="true"
        datetime="datetime-start"
        color="primary"
        class="ion-text-center"
      ></ion-datetime-button>
    </ion-item>

    <ion-item>
      <ion-label> End Date </ion-label>
      <ion-datetime-button
        date-target="true"
        datetime="datetime-end"
        color="primary"
        class="ion-text-center"
      ></ion-datetime-button>
    </ion-item>


    <ion-item lines="none">
      <ion-searchbar  label="Capacity"  (ionInput)="reservation.filterHalls($event)" type="number" placeholder="Search a capacity"></ion-searchbar>
  </ion-item>

    <ion-item>

      <ion-label
        *ngIf="(reservation.filteredHalls$|async)?.length!==0"
      >
        Halls found
      </ion-label>

      <ion-label
        *ngIf="(reservation.filteredHalls$|async)?.length===0"
        ><ion-card-subtitle style="margin-left: 15px" color="danger"
          >There are no available halls for the specified
          dates.</ion-card-subtitle
        ></ion-label
      >

      <span
        class="loading-container"
        style="margin-left: 15px"
        *ngIf="(reservation.filteredHalls$ | async)===undefined||(reservation.filteredHalls$ | async)===null"
      >
        <ion-label> Loading halls please wait... </ion-label>
        <ion-spinner name="circular"></ion-spinner>
      </span>

      <ion-radio-group
        [(ngModel)]="reservation.resetHall"
        formControlName="hall"
      >
        <ion-item
          lines="none"
          *ngFor="let hall of reservation.filteredHalls$|async"
        >
          <ion-radio value="{{hall.id}}" labelPlacement="end">
            Hall {{hall.id}}
          </ion-radio>
        </ion-item>
      </ion-radio-group>

    </ion-item>

    <ion-button class="ion-margin" expand="block" type="submit">
      Create</ion-button
    >
  </form>
</ion-content>
