<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title color="primary">Create Reservation</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>Create Reservation</ion-label>
    </ion-list-header>

    <form [formGroup]="reservationsForm" (ngSubmit)="AddReservation()">
      <ion-item>
        <ion-label position="stacked"
          ><ion-card-subtitle
            >Name (Name of what??)</ion-card-subtitle
          ></ion-label
        >
        <ion-input label="" placeholder="Enter name" formControlName="name">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"
          ><ion-card-subtitle>Description</ion-card-subtitle></ion-label
        >
        <ion-input
          placeholder="Enter the description"
          label=""
          formControlName="description"
        >
        </ion-input>
      </ion-item>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            displayFormat="YYYY-MM-DD"
            id="datetime-start"
            presentation="date"
            (ionChange)="this.FBService.start_date_changed($event)"
          ></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            displayFormat="YYYY-MM-DD"
            id="datetime-end"
            presentation="date"
            (ionChange)="this.FBService.end_date_changed($event)"
          ></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-item>
        <ion-row>
          <ion-col style="padding: 5px 0">
            <ion-label position="stacked"
              ><ion-card-subtitle>Start Date</ion-card-subtitle></ion-label
            >
            <ion-datetime-button
              date-target="true"
              datetime="datetime-start"
              color="primary"
              class="ion-text-center"
            ></ion-datetime-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 5px 0">
            <ion-label position="stacked"
              ><ion-card-subtitle>End Date</ion-card-subtitle></ion-label
            >
            <ion-datetime-button
              date-target="true"
              datetime="datetime-end"
              color="primary"
              class="ion-text-center"
            ></ion-datetime-button>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"
          ><ion-card-subtitle>Halls found</ion-card-subtitle></ion-label
        >
        <ion-row>
          <ion-radio-group formControlName="hall">
            <ion-item
              lines="none"
              *ngFor="let hall of FBService.filteredHalls$|async"
            >
              <ion-radio value="{{hall.id}}" labelPlacement="end">
                Hall {{hall.id}}
              </ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-row>

        <!-- <ion-input label="" formControlName="hall"> </ion-input> -->
      </ion-item>

      <ion-button class="ion-margin" expand="block" type="submit">
        Create</ion-button
      >
    </form>
  </ion-list>
</ion-content>
