<ion-header>
  <ion-toolbar>
    <ion-title color="primary">My Tickets</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-text>SORT</ion-text>
        <ion-icon name="chevron-down"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-card color="tertiary" *ngFor="let ticket of ticketService.tickets$ | async">
      <ion-card-header>
        <ion-card-title>Event name {{ticket.eventName}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>
          Ticket Code: {{ticket.ticketCode}}
        </ion-label>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>