.date-pickers {
    display: flex;
    justify-content: space-around; /* Adjust spacing as needed */
    align-items: flex-start; /* Align labels to the top */
    margin-top: 20px; /* Adjust top margin as needed */
}

.date-picker-item {
    flex: 1;
    text-align: center;
    margin: 0 5px;
    background-color: #f4f4f4; /* Match the background color of the hall cards */
    border-radius: 8px;
}

.label-above {
    font-weight: bold;
    margin-bottom: 8px; /* Adjust space between label and ion-item */
}