<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>signUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo"></ion-img>
        <h4 class="ion-margin-top ion-padding-bottom">MJ: Put your company icon and name</h4>
    </ion-card-header>
  
    <ion-card-content>
<ion-list-header style="color:#ab916b;margin-bottom:1rem;">Create a new account</ion-list-header>
  <form>
    <ion-icon size="small" name="mail-outline"></ion-icon>
      <ion-label position="stacked" style="padding-bottom: 2px;font-size:large;"> Email</ion-label>
      <ion-input label="" placeholder="example@example.com" style="padding-left:3rem" type="email"></ion-input>

      <ion-icon size="small" name="person-circle-outline"></ion-icon>
      <ion-label position="stacked" style="padding-bottom: 2px;font-size:large;"> First Name</ion-label>
      <ion-input label="" placeholder="Ali" style="padding-left:3rem" type="text"></ion-input>

      <ion-icon size="small" name="person-circle-outline"></ion-icon>
      <ion-label position="stacked" style="padding-bottom: 2px;font-size:large;"> Last Name</ion-label>
      <ion-input label="" placeholder="Mohammed" style="padding-left:3rem" type="text"></ion-input>

      <ion-icon size="small" name="call-outline"></ion-icon>
      <ion-label position="stacked" style="padding-bottom: 2px;font-size:large;"> Phone Number</ion-label>
      <ion-input label="" placeholder="+97333333333" style="padding-left:3rem" type="text"></ion-input>

      <ion-icon size="small" name="lock-closed-outline"></ion-icon>
      <ion-label position="stacked" style="padding-bottom: 2px;font-size:large;"> Password</ion-label>
      <ion-input label="" placeholder="set your password" type="password"></ion-input>

      <ion-icon size="small" name="lock-closed-outline"></ion-icon>
      <ion-label position="stacked" style="padding-bottom: 2px;font-size:large;"> Password Confirmation</ion-label>
      <ion-input label="" placeholder="confirm your password" type="password"></ion-input>
    

    <ion-button style="margin:1rem" expand="block" color="primary">Sign up</ion-button>

    <div class="ion-no-margin ion-text-center ion-padding-top">
      <p>Already have an account?</p>
      <ion-button routerLink="/log-in" routerDirection="back" fill="outline">Login</ion-button>
    </div>
  </form>

    </ion-card-content>
  </ion-card>

</ion-content>
