.disabled {
  opacity: 0.5;
}

.error-message {
  display: block;
  font-size: 14px;
  font-weight: 600;
  // font-family: "Lucida Sans";
  color: var(--ion-color-danger);
  background-color: #f2dede;
  padding: 8px 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.error-message ion-icon {
  margin-right: 2px;
  position: relative;
  top: 2px;
}

ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;

  --color: #ddd;
  --color-checked: var(--ion-color-primary);
}

ion-radio.ios::part(container) {
  width: 20px;
  height: 20px;

  border: 2px solid #ddd;
}

.radio-checked.ios::part(container) {
  border-color: var(--ion-color-primary);
}
