<ion-header>
  <ion-toolbar>
    <ion-title> Requests </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="authService.signOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-------------------------------------------- Segment buttons ------------------------------------------->
  <div>
    <ion-segment [(ngModel)]="selectedSegment" mode="md">
      <ion-segment-button value="pending">
        <ion-label>Pending</ion-label>
      </ion-segment-button>
      <ion-segment-button value="approved">
        <ion-label>Approved</ion-label>
      </ion-segment-button>
      <ion-segment-button value="rejected">
        <ion-label>Rejected</ion-label>
      </ion-segment-button>
    </ion-segment>
    <hr style="margin: 0; opacity: 0.1" />
  </div>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="((reservations$) | async)?.length === 0">
    <ion-note>No reservations till now!</ion-note>
  </div>


    <div class="loading-container" *ngIf="(reservations$ | async)===undefined||(reservations$ | async)===null">
        <ion-label> Loading data please wait... </ion-label>
        <ion-spinner name="circular"></ion-spinner>
    </div>

    <div *ngIf="reservations$ | async">
        <div [ngSwitch]="selectedSegment">
            <!-------------------------------------------- Pending list ------------------------------------------->

            <ion-list *ngSwitchCase="'pending'">
                <span *ngFor="let reservation of reservations$ | async">
                    <div *ngIf="reservation.status==='pending'" [routerLink]="['/request-details', reservation.id]" >
                        <ion-card class="event-card">

                            <ion-col class="event-card-content">
                                <ion-card-content>
                                    <h3 class="event-card-content-element">
                                        Requested Date: <br />
                                        <b>{{reservation.start_date}} <br />
                                            to ➡️ <br />{{reservation.end_date}}
                                        </b>
                                    </h3>
                                    <h3 class="event-card-content-element">
                                        Event name: <br />
                                        <b> {{reservation.name}}</b>
                                    </h3>
                                    <h3 class="event-card-content-element">
                                        Request Status: <b>{{reservation.status}}</b>
                                    </h3>
                                </ion-card-content>
                            </ion-col>
                        </ion-card>
                    </div>
                </span>
            </ion-list>
        </div>
    </div>


  <div *ngIf="reservations$ | async">
    <div [ngSwitch]="selectedSegment">
      <!-------------------------------------------- Pending list ------------------------------------------->

      <ion-list *ngSwitchCase="'pending'">
        <span *ngFor="let reservation of reservations$ | async">
          <div
            *ngIf="reservation.status==='pending'"
            [routerLink]="['/request-details', reservation.id]"
          >
            <ion-card class="event-card">
              <ion-col class="event-card-content">
                <ion-card-content>
                  <h3 class="event-card-content-element">
                    Requested Date: <br />
                    <b
                      >{{reservation.start_date}} <br />
                      to ➡️ <br />{{reservation.end_date}}
                    </b>
                  </h3>
                  <h3 class="event-card-content-element">
                    Event name: <br />
                    <b> {{reservation.name}}</b>
                  </h3>
                  <h3 class="event-card-content-element">
                    Request Status: <b>{{reservation.status}}</b>
                  </h3>
                </ion-card-content>
              </ion-col>
            </ion-card>
          </div>
        </span>
      </ion-list>

      <!-------------------------------------------- Approved list ------------------------------------------->

      <ion-list *ngSwitchCase="'approved'">
        <span *ngFor="let reservation of reservations$ | async">
          <div
            *ngIf="reservation.status==='approved'"
            [routerLink]="['/request-details', reservation.id]"
          >
            <ion-card class="event-card">
              <ion-col class="event-card-content">
                <ion-card-content>
                  <h3 class="event-card-content-element">
                    Requested Date: <br />
                    <b
                      >{{reservation.start_date}} <br />
                      to ➡️ <br />{{reservation.end_date}}
                    </b>
                  </h3>
                  <h3 class="event-card-content-element">
                    Event name: <br />
                    <b> {{reservation.name}}</b>
                  </h3>
                  <h3 class="event-card-content-element">
                    Request Status: <b>{{reservation.status}}</b>
                  </h3>
                </ion-card-content>
              </ion-col>
            </ion-card>
          </div>
        </span>
      </ion-list>

      <!-------------------------------------------- Rejected list ------------------------------------------->

      <ion-list *ngSwitchCase="'rejected'">
        <span *ngFor="let reservation of reservations$ | async">
          <div
            *ngIf="reservation.status==='rejected'"
            [routerLink]="['/request-details', reservation.id]"
          >
            <ion-card class="event-card">
              <ion-col class="event-card-content">
                <ion-card-content>
                  <h3 class="event-card-content-element">
                    Requested Date: <br />
                    <b
                      >{{reservation.start_date}} <br />
                      to ➡️ <br />{{reservation.end_date}}
                    </b>
                  </h3>
                  <h3 class="event-card-content-element">
                    Event name: <br />
                    <b> {{reservation.name}}</b>
                  </h3>
                  <h3 class="event-card-content-element">
                    Request Status: <b>{{reservation.status}}</b>
                  </h3>
                </ion-card-content>
              </ion-col>
            </ion-card>
          </div>
        </span>
      </ion-list>
    </div>
  </div>
</ion-content>
