<ion-header>
  <ion-toolbar>
    <ion-searchbar class="ion-margin-top"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>Upcoming Events</ion-label>
    </ion-list-header>
    <div routerLink="/event-details" *ngFor="let e of exploreEvents.events">
      <ion-card class="event-card">
        <ion-col class="event-card-img">
          <ion-avatar>
            <ion-img src="assets/{{e.poster}}"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col class="event-card-content">
          <div>
            <ion-card-subtitle class="event-card-title"
              >{{e.name}}</ion-card-subtitle
            >
            <div class="event-card-text">
              <ion-icon name="calendar-clear-sharp" color="primary"></ion-icon>
              <ion-label class="event-card-content-element">
                {{e.date}}
              </ion-label>
            </div>
            <div class="event-card-text">
              <ion-label class="event-card-content-element">
                <ion-icon name="location-sharp" color="primary"></ion-icon>
                Hall {{e.hall}}
              </ion-label>
            </div>
          </div>
        </ion-col>
      </ion-card>
    </div>
  </ion-list>
</ion-content>
