<ion-header>
  <ion-toolbar>
    <ion-title> Upcoming Events </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

    <ion-searchbar
      placeholder="Search by event title"
      class="ion-margin-bottom"
    ></ion-searchbar>


    <div
      class="loading-container"
      *ngIf="(this.eventsService.resAndEvents$ | async)===undefined||(this.eventsService.resAndEvents$| async)===null">

      <ion-label> Loading data please wait... </ion-label>
      
      <ion-spinner name="circular"></ion-spinner>
    </div>

    <div *ngFor="let e of eventsService.resAndEvents$ | async">
      <ion-card
        class="event-card"
        [routerLink]="['/event-details', e.event.id, e.imageUrl]"
      >
        <!-- Display image from firebase storage here  -->
        <div style="background: url({{ e.imageUrl }}) no-repeat center center / cover; height: 350px; width: 100%">
        </div>
        <ion-card-content>
          <ion-card-subtitle class="event-card-title"
            >{{e.event.title}}</ion-card-subtitle
          >
          <div class="event-card-text">
            <ion-icon name="calendar-clear-sharp" color="primary"></ion-icon>
            <ion-label class="event-card-content-element">
              <!-- Start date -->
              Start Date: {{e.reservation.start_date}}
            </ion-label>
          </div>

          <div class="event-card-text">
            <ion-icon name="calendar-clear-sharp" color="primary"></ion-icon>
            <ion-label class="event-card-content-element">
              <!-- End date -->
              End Date: {{e.reservation.end_date}}
            </ion-label>
          </div>

          <div class="event-card-text">
            <ion-icon name="document-outline" color="primary"></ion-icon> 
            <ion-label class="event-card-content-element">
              Description: {{e.event.eventDescription}}
            </ion-label>
          </div>

          <div class="event-card-text">
            <ion-label class="event-card-content-element">
              <ion-icon name="location-sharp" color="primary"></ion-icon>
              <!-- Will take time to load each event location from Reservations collection?? -->
              Hall: {{e.reservation.hall}}
            </ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>
