<ion-header>
  <ion-toolbar>
    <ion-title> Events </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div routerLink="/event-details">
    <ion-card class="event-card">
      <ion-col class="event-card-img">
        <ion-avatar>
          <ion-img src="assets/IMG_2275.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col class="event-card-content">
        <ion-card-content>
          <h3 class="event-card-content-element">23 Nov - 26 Nov 2023</h3>
          <ion-card-subtitle class="event-card-content-element"
            >Event name</ion-card-subtitle
          >
          <h3 class="event-card-content-element">Event Category</h3>
        </ion-card-content>
      </ion-col>
    </ion-card>
  </div>
  <div>
    <ion-card class="event-card">
      <ion-col class="event-card-img">
        <ion-avatar>
          <ion-img src="assets/IMG_2275.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col class="event-card-content">
        <ion-card-content>
          <h3 class="event-card-content-element">23 Nov - 26 Nov 2023</h3>
          <ion-card-subtitle class="event-card-content-element"
            >Event name</ion-card-subtitle
          >
          <h3 class="event-card-content-element">Event Category</h3>
        </ion-card-content>
      </ion-col>
    </ion-card>
  </div>
  <div>
    <ion-card class="event-card">
      <ion-col class="event-card-img">
        <ion-avatar>
          <ion-img src="assets/IMG_2275.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col class="event-card-content">
        <ion-card-content>
          <h3 class="event-card-content-element">23 Nov - 26 Nov 2023</h3>
          <ion-card-subtitle class="event-card-content-element"
            >Event name</ion-card-subtitle
          >
          <h3 class="event-card-content-element">Event Category</h3>
        </ion-card-content>
      </ion-col>
    </ion-card>
  </div>
  <div>
    <ion-card class="event-card">
      <ion-col class="event-card-img">
        <ion-avatar>
          <ion-img src="assets/IMG_2275.jpg"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col class="event-card-content">
        <ion-card-content>
          <h3 class="event-card-content-element">23 Nov - 26 Nov 2023</h3>
          <ion-card-subtitle class="event-card-content-element"
            >Event name</ion-card-subtitle
          >
          <h3 class="event-card-content-element">Event Category</h3>
        </ion-card-content>
      </ion-col>
    </ion-card>
  </div>
</ion-content>
