<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title color="primary">Create Event</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ng-container>
    <ion-item>
      <ion-label>Theme color</ion-label>
      <ion-icon *ngFor="let color of colorsList" color="{{color}}" name="ellipse" (click)="pickColor(color)"></ion-icon>
    </ion-item>
  </ng-container>
  <ion-list>
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">

      <ion-item [color]="mycolor" #item0 id="0" (click)="showId(item0)">
        <ion-input [color]="mycolor" class="custom-title" [(ngModel)]="title" placeholder="Event Title" aria-label=""></ion-input>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>

      <ion-item #item1 id="1" (click)="showId(item1)">
        <input type="file" #fileInput accept="image/*" style="display: none" (change)="handleImageChange()">
        <img #imageElem (click)="triggerImagePicker()" [src]="pickedImageData ?? 'assets/upload.png'" alt="">
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>

      <ion-item #item2 id="2" (click)="showId(item2)">
        <label for=""></label>
        <ion-input [(ngModel)]="eventDescription" placeholder="Event Description" aria-label=""></ion-input>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>


      <ion-item #item3 id="3" (click)="showId(item3)">
        <ion-button slot="end" class="ion-no-margin" [color]="mycolor">Book a Ticket</ion-button>
        <ion-icon [color]="mycolor" class="ion-margin-end" name="cash-outline"></ion-icon>
        <ion-input [(ngModel)]="price" placeholder="Price in BD" aria-label=""></ion-input>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item #item4 id="4" (click)="showId(item4)">
        <div>
          <ion-item>
            <ion-label>
              Add your event agenda:
            </ion-label>
          </ion-item>

          <!-- Agenda -->
          <ng-container class="agenda-color" *ngFor="let div of divs; let divindex = index">
            <!-- Title Input -->
            <ion-item lines="none">
              <ion-input label="Title" placeholder="Your agenda title"
                  [(ngModel)]="div.title"
                  >
              </ion-input>
            </ion-item>

            <ion-note lines="none" class="error-message"
                *ngIf="!titleIsValid(div.title) && attemptedToContinue"
                >
              <ion-icon name="alert-outline" color="danger"></ion-icon>
              <span> Title is not valid </span>
            </ion-note>


            <!-- Date Input -->
            <ion-item lines="none">
              <ion-label>
                <ion-text> Date </ion-text>
              </ion-label>
              <ion-datetime-button
                date-target="true"
                datetime="date-{{divindex}}"
                color="primary"
                class="ion-text-center"
              ></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime
                    displayFormat="YYYY-MM-DD"
                    id="date-{{divindex}}"
                    presentation="date"
                    [(ngModel)]="div.date"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>

            <ion-note lines="none" class="error-message"
                *ngIf="div.date === undefined && attemptedToContinue"
                >
              <ion-icon name="alert-outline" color="danger"></ion-icon>
              <span> Date is required </span>
            </ion-note>

            <!-- Time Input -->
            <ion-item lines="none">
              <ion-label>
                <ion-text> Time </ion-text>
              </ion-label>
              <ion-datetime-button
                time-target="true"
                datetime="time-{{divindex}}"
                color="primary"
                class="ion-text-center"
              ></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime
                    displayFormat="YYYY-MM-DD"
                    id="time-{{divindex}}"
                    presentation="time"
                    [(ngModel)]="div.time"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>

            <ion-note lines="none" class="error-message"
                *ngIf="div.date === undefined && attemptedToContinue"
                >
              <ion-icon name="alert-outline" color="danger"></ion-icon>
              <span> Time is required </span>
            </ion-note>

            <!-- Description Input -->
            <ion-item>
              <ion-input label="Description" placeholder="Your agenda description"
                  [(ngModel)]="div.description"
                  >
              </ion-input>
            </ion-item>

            <ion-note lines="none" class="error-message"
                *ngIf="!descriptionIsValid(div.description) && attemptedToContinue"
                >
              <ion-icon name="alert-outline" color="danger"></ion-icon>
              <span> Description is not valid </span>
            </ion-note>

          </ng-container>

          <ion-item>
            <div style="width: 100%; display: flex; justify-content: center;">
              <ion-button size="large" shape="round" size="small" fill="clear" (click)="addDiv()">
                <ion-icon [color]="mycolor" size="large" name="add-circle-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-item>
        </div>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
  <ion-button (click)="createEventDesing()" expand="block">publish Event</ion-button>





</ion-content>




<!-- </ion-content>
<ion-grid>
  <ion-row>
    <ng-container color="primary">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Date" [(ngModel)]="date" (click)="toggleDatePicker()"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="Time" [(ngModel)]="time" (click)="toggleDatePicker()"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-input placeholder="activities description" [(ngModel)]="description"></ion-input>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ion-row>
  <ion-row>
    <ng-container color="primary" *ngFor="let div of divs">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Date" value="{{div.date}}"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="Time" value="{{div.time}}"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-input placeholder="activities description" value="{{div.description}}"></ion-input>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ion-row>
  <ion-row>
    <ion-button shape="round" size="small" fill="outline" (click)="addDiv()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-row>
</ion-grid> -->