<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title color="primary">Create Event</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-note *ngIf="designExists" class="ion-padding-bottom">
    This event has already been published. <br> You can only view it.
  </ion-note>

  <span *ngIf="!designExists" class="ion-padding-bottom">
    Now you can customize the page that will be presented to people exploring
    your event.
    <br>
    Feel free to customize it however you want.
  </span>

  <div style="height: 15px;"></div>

  <ion-item [hidden]="designExists">
    <ion-label>Theme color</ion-label>
    <ion-icon *ngFor="let color of colorsList" color="{{color}}" name="ellipse" (click)="pickColor(color)"></ion-icon>
  </ion-item>
  <ion-list>
    <ion-reorder-group [disabled]="designExists" (ionItemReorder)="handleReorder($any($event))">

      <ion-item [color]="mycolor" #item0 id="eventTitle" (click)="showId(item0)">
        <ion-input [(ngModel)]="title" [readonly]="designExists" [color]="mycolor" class="custom-title"
          [formControl]="eventForm.controls.title" placeholder="Event Title" aria-label=""></ion-input>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>

      <ion-item [disabled]="designExists" #item1 id="poster" (click)="showId(item1)">
        <input type="file" #fileInput accept="image/*" style="display: none" (change)="handleImageChange()">
        <img #imageElem (click)="triggerImagePicker()" [src]="pickedImageData ?? 'assets/blank-image.png'" alt="">
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>

      <ion-item #item2 id="description" (click)="showId(item2)">
        <label for=""></label>
        <ion-input [(ngModel)]="eventDescription" [readonly]="designExists"
          [formControl]="eventForm.controls.eventDescription" placeholder="Event Description" aria-label=""></ion-input>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item #item3 id="price" (click)="showId(item3)">
        <ion-button slot="end" class="ion-no-margin" [color]="mycolor">Book a Ticket</ion-button>
        <ion-icon [color]="mycolor" class="ion-margin-end" name="cash-outline"></ion-icon>
        <ion-input [readonly]="designExists" [(ngModel)]="price" [formControl]="eventForm.controls.price"
          placeholder="Price in BD" type="number" inputmode="numeric" aria-label=""></ion-input>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item #item4 id="agenda" (click)="showId(item4)">
        <div>
          <ion-item>
            <ion-label>
              Add your event agenda:
            </ion-label>
          </ion-item>

          <!-- Agenda -->
          <ng-container class="agenda-color" *ngFor="let div of divs; let divindex = index">
            <!-- Title Input -->
            <ion-item lines="none" [hidden]="designExists">
              <ion-input label="Title" placeholder="Your agenda title" [(ngModel)]="div.title">
              </ion-input>
            </ion-item>

            <ion-note lines="none" class="error-message" *ngIf="!titleIsValid(div.title) && attemptedToContinue">
              <ion-icon name="alert-outline" color="danger"></ion-icon>
              <span> Title is not valid </span>
            </ion-note>


            <!-- Date Input -->
            <ion-item lines="none" [hidden]="designExists">
              <ion-label>
                <ion-text> Date </ion-text>
              </ion-label>
              <ion-datetime-button date-target="true" datetime="date-{{divindex}}" color="primary"
                class="ion-text-center"></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime displayFormat="YYYY-MM-DD" id="date-{{divindex}}" presentation="date"
                    [(ngModel)]="div.date"></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>

            <ion-note lines="none" class="error-message" *ngIf="div.date === undefined && attemptedToContinue">
              <ion-icon name="alert-outline" color="danger"></ion-icon>
              <span> Date is required </span>
            </ion-note>

            <!-- Start Time Input -->
            <ion-item lines="none" [hidden]="designExists">
              <ion-label>
                <ion-text> Start Time </ion-text>
              </ion-label>
              <ion-datetime-button time-target="true" datetime="start-time-{{divindex}}" color="primary"
                class="ion-text-center"></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime displayFormat="YYYY-MM-DD" id="start-time-{{divindex}}" presentation="time"
                    [(ngModel)]="div.startTime"></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>

            <ion-note lines="none" class="error-message" *ngIf="div.startTime === undefined && attemptedToContinue">
              <ion-icon name="alert-outline" color="danger"></ion-icon>
              <span> Start Time is required </span>
            </ion-note>

            <!-- End Time Input -->
            <ion-item lines="none" [hidden]="designExists">
              <ion-label>
                <ion-text> End Time </ion-text>
              </ion-label>
              <ion-datetime-button time-target="true" datetime="end-time-{{divindex}}" color="primary"
                class="ion-text-center"></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime displayFormat="YYYY-MM-DD" id="end-time-{{divindex}}" presentation="time"
                    [(ngModel)]="div.endTime"></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>

            <ion-note lines="none" class="error-message" *ngIf="div.endTime === undefined && attemptedToContinue">
              <ion-icon name="alert-outline" color="danger"></ion-icon>
              <span> End Time is required </span>
            </ion-note>

            <!-- Description Input -->
            <ion-item [hidden]="designExists">
              <ion-input label="Description" placeholder="Your agenda description" [(ngModel)]="div.description">
              </ion-input>
            </ion-item>

            <ion-note lines="none" class="error-message"
              *ngIf="!descriptionIsValid(div.description) && attemptedToContinue">
              <ion-icon name="alert-outline" color="danger"></ion-icon>
              <span> Description is not valid </span>
            </ion-note>

          </ng-container>

          <!-- show agenda loop for reservard only-->
          <!-- Agenda -->
          <div *ngIf="designExists === true">
            <ng-container class="agenda-color" *ngFor="let div of divs; let divindex = index">
              <!-- Title Input -->
              <ion-item lines="none">
                <ion-input label="Title" placeholder="{{div.title}}">

                </ion-input>
              </ion-item>




              <!-- Date Input -->
              <ion-item lines="none">
                <ion-input label="Date" placeholder="{{div.date}}">

                </ion-input>
              </ion-item>



              <!-- Start Time Input -->
              <ion-item lines="none">
                <ion-input label="Start Time" placeholder="{{div.startTime}}">

                </ion-input>
              </ion-item>



              <!-- End Time Input -->
              <ion-item lines="none">
                <ion-input label="End Time" placeholder="{{div.endTime}}">

                </ion-input>
              </ion-item>



              <!-- Description Input -->
              <ion-item>
                <ion-input label="Description" placeholder="Your agenda description" [(ngModel)]="div.description">
                </ion-input>
              </ion-item>



            </ng-container>
          </div>

          <!-- end show agenda loop -->


          <ion-item [hidden]="designExists">
            <div style="width: 100%; display: flex; justify-content: center;">
              <ion-button size="large" shape="round" size="small" fill="clear" (click)="addDiv()">
                <ion-icon [color]="mycolor" size="large" name="add-circle-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-item>

        </div>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>

  <ion-note *ngIf="attemptedToContinue" class="error-message">
    <ng-container *ngFor="let message of errorMessages();">
      <ion-icon name="alert-outline" color="danger"></ion-icon>
      {{ message }} <br>
    </ng-container>
  </ion-note>

  <ion-button (click)="createEventDesing()" expand="block" [disabled]="designExists">publish Event</ion-button>

</ion-content>