<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title color="primary">Create Event</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header class="ion-margin-button">
      <ion-label>Create Event</ion-label>
    </ion-list-header>

    <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
    <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
    <ion-reorder-group
      [disabled]="false"
      (ionItemReorder)="handleReorder($any($event))"
    >
      <ion-reorder *ngFor="let item of itemOrder" [id]="item.id">
        <ion-item>
          <ion-label>Item {{ item.id }}</ion-label>
          <div
            [innerHTML]="item.content"
            (click)="showElementAlert($event)"
          ></div>
        </ion-item>
      </ion-reorder>
    </ion-reorder-group>
  </ion-list>

  <input type="file" />
</ion-content>
