<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="requests">
      <ion-icon name="document-sharp"></ion-icon>
      <ion-label>Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="halls">
      <ion-icon name="business-sharp"></ion-icon>
      <ion-label>Halls</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports">
      <ion-icon name="stats-chart-sharp"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubble-sharp"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
