<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Sign In</ion-title> -->
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header> <ion-label> Log in </ion-label></ion-list-header>

    <form [formGroup]="loginForm" (ngSubmit)="checkCredentials()">
      <ion-item>
        <ion-label position="stacked">
          <ion-card-subtitle> Email </ion-card-subtitle>
        </ion-label>
        <ion-input
          formControlName="email"
          placeholder="example@example.com"
          label=""
          type="email"
        ></ion-input>
      </ion-item>

      <!-- errors of email -->
      <ion-note
        lines="none"
        class="error-message"
        *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched"
      >
        <ion-icon name="alert-outline" color="danger"></ion-icon>
        <span *ngIf="loginForm.get('email').hasError('required')"
          >Email is required.</span
        >
        <span
          *ngIf="loginForm.get('email').hasError('email')||loginForm.get('email').hasError('pattern')"
          >Please enter a valid email..</span
        >
      </ion-note>

      <ion-item>
        <ion-label position="stacked">
          <ion-card-subtitle> Password </ion-card-subtitle>
        </ion-label>
        <ion-input
          formControlName="password"
          placeholder="enter your password"
          label=""
          type="password"
        ></ion-input>
      </ion-item>

      <!-- errors of email -->
      <ion-note
        lines="none"
        class="error-message"
        *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"
      >
        <ion-icon name="alert-outline" color="danger"></ion-icon>
        <span *ngIf="loginForm.get('password').hasError('required')"
          >Password is required.</span
        >
      </ion-note>

      <ion-button
        class="ion-margin"
        type="submit"
        expand="block"
        color="primary"
        >Log in</ion-button
      >

      <ion-button
        routerLink="/reset-password"
        routerDirection="forward"
        fill="clear"
        expand="block"
        style="color: black; margin: -15px"
      >
        Forgot your password? &nbsp;
        <span style="color: var(--ion-color-primary); font-weight: 500"
          >Reset Password</span
        >
      </ion-button>

      <ion-button
        routerLink="/sign-up"
        routerDirection="forward"
        fill="clear"
        expand="block"
        style="color: black; margin: -15px"
      >
        Doesn't have account? &nbsp;
        <span style="color: var(--ion-color-primary); font-weight: 500"
          >Create New Account</span
        ></ion-button
      >
      <ion-button
        routerLink="/attendee"
        routerDirection="forward"
        fill="clear"
        expand="block"
        style="color: black; margin: -15px"
      >
        <ion-label style="font-weight: 500"> Continue As a Guest </ion-label>
      </ion-button>
    </form>
  </ion-list>
</ion-content>
