ion-input {
  text-indent: 5px;
    padding-left: 20px;
    border-radius: 10px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #b5babf; 
    margin-bottom:1.5rem;
    margin-top:0.5rem;
    background: #f1f1f1;
  }

  
  .error-message {
    display: block;
    font-size: 14px;
    font-family: 'Lucida Sans';
    color: #d9534f;
    background-color: #f2dede;
    border: 1px solid #d9534f;
    border-radius: 4px;
    padding: 8px 12px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .error-message ion-icon {
    margin-right: 8px;
    position: relative;
    top: 2px;
  }
  

  
