<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Halls Availability</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content clas="ion-pading">
  <ion-row class="ion-margin-top">
    <ion-datetime
      style="
        margin: 16px auto;
        border-radius: 8px;
        box-shadow: 0 2px 12px -2px rgba(0, 0, 0, 0.2);
      "
      presentation="date"
      [highlightedDates]="datePickerOptions.highlightedDates"
    ></ion-datetime>
  </ion-row>

  <div align="center">
    <ion-button (click)="filterCalender('1')">Hall 1</ion-button>
    <ion-button (click)="filterCalender('2')">Hall 2</ion-button>
    <ion-button (click)="filterCalender('3')">Hall 3</ion-button>
    <ion-button (click)="filterCalender('4')">Hall 4</ion-button>
    <ion-button (click)="filterCalender('5')">Hall 5</ion-button>
    <ion-button (click)="filterCalender('6')">Hall 6</ion-button>
    <ion-button (click)="filterCalender('7')">Hall 7</ion-button>
    <ion-button (click)="filterCalender('8')">Hall 8</ion-button>
  </div>

  <div style="margin-left: 10%; margin-top: 5%">
    <div style="display: flex; align-items: center; margin-bottom: 10px">
      <div
        style="
          border-radius: 10%;
          width: 20px;
          height: 20px;
          background-color: rgb(46, 204, 113);
          margin-right: 5px;
        "
      ></div>
      <ion-note color="primary">Available Dates</ion-note>
    </div>
    <div style="display: flex; align-items: center">
      <div
        style="
          border-radius: 10%;
          width: 20px;
          height: 20px;
          background-color: rgb(231, 76, 60);
          margin-right: 5px;
        "
      ></div>
      <ion-note color="primary">Unavailable Dates</ion-note>
    </div>
  </div>
</ion-content>
