<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>Event Details</ion-label>
    </ion-list-header>
    <ion-card>
      <ion-img
        class="event-details-img"
        *ngIf="imgURL"
        src="{{this.imgURL}}"
      ></ion-img>

      <ion-card-content>
        <h2 class="event-card-content-element">23 Nov - 26 Nov 2023</h2>
        <h1 class="event-card-content-element">Event name</h1>
        <h3 class="event-card-content-element">Event Category</h3>
        <p class="event-card-content-element">Event Discription</p>
        <h3 class="event-card-content-element">Event Loctaion</h3>
        <h3 class="event-card-content-element">Event Time</h3>
      </ion-card-content>
      <ion-row class="ion-justify-content-center ion-margin">
        <ion-button size="small">Book a Ticket</ion-button>
      </ion-row>
    </ion-card>
  </ion-list>
</ion-content>
