<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Blank </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="container my-2">
        <button class="btn btn-primary" routerLink="/sign-in">Sign In Page</button>
        <ion-button routerLink="/client" expand="block">Client</ion-button>
        <ion-button routerLink="/attendee" expand="block">Attendee</ion-button>
        <ion-button routerLink="/admin" expand="block">Admin</ion-button>
    </div>
</ion-content>